@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
	font-size: 300%;
}

p{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
	font-size: 150%;
}

.fa-custom
{
  font-size: 7vh;
  text-align: center;
}

.play{
	width: 40vw;
	height: 60vh;
	margin: auto;
  padding: 0px;
  border: 1px solid #888;
}

.box{
	width: 5vw;
	height: 10vh;
  border: 1px solid #888;
  display: inline-block;
  text-align: center;
}

#b11 {
  margin-left: 20vw;
}
#b12 {
  margin-left: 20vw;
}
#b13 {
  margin-left: 20vw;
}
#b14 {
  margin-left: 20vw;
}
#b15 {
  margin-left: 20vw;
}
#b16 {
  margin-left: 20vw;
}
#b17 {
  margin-left: 20vw;
}
#b18 {
  margin-left: 20vw;
}
#b19 {
  margin-left: 20vw;
}
