@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 150%;
}

.container p {
  font-size: 100%;
  display: inline-block;
}

.fa-custom {
  font-size: 7vmin;
  text-align: center;
}

.play {
  width: 40vmax;
  height: 60vmin;
  margin: auto;
  padding: 0px;
  border: 1px solid #888;
}

.box {
  width: 4vmax;
  height: 4vmax;
  border: 1px solid rgba(8,8,8,0.1);
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.obox {
    display: inline-block;
    text-align: center;
}

#unlocked {
  background-color: white;
}

#locked {
  background-color: grey;
}

#closed {
  background-color: yellow;
}

#open {
  background-color: blue;
}

#path {
  background-color: green;
}
